body {
    background-color: #121212; /* Matte black */
    color: #39FF14; /* Neon green */
    font-family: 'Courier New', Courier, monospace; /* Techy font */
}

a {
    color: #39FF14; /* Neon green */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header, footer {
    text-align: center;
    padding: 10px 0;
}

button {
    background-color: #39FF14;
    color: #121212;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

button:hover {
    background-color: #2ecc71; /* Slightly lighter neon green */
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #39FF14; /* Neon green */
}

th, td {
    padding: 10px;
    text-align: left;
}

/* New styles for total row */
tbody tr:last-child {
    font-weight: bold;
    color: #39FF14; /* Neon blue */
    text-transform: uppercase;
}
